files:
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/01-sample-app.conf":
    content: |
      /tmp/sample-app*

  "/opt/elasticbeanstalk/tasks/taillogs.d/01-sample-app.conf":
    content: |
      /tmp/sample-app.log

option_settings:
  - option_name:  Key-Region1 
    value:  us-east-1 
  - option_name:  Key-Region2
    value:  us-east-2 

